/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
.header{
	background-color:#011e29;
	width:100%;
	height:50px;
	color:white;
	text-align:center;
	align-items:center;
	justify-content:center;
	display:flex;
}
.splitdiv{
	display:flex;
	justify-content:space-between;
	margin:20px;
	gap:5px;
}
.latest-news-section{
	padding:5px;
	background-color:white;
	width:200px;
	border-radius:15px;
	height:150px;
	text-align:center;
}
.pictorial-news-section{
	padding:10px;
	background-color:white;
	width:150px;
	display:flex;
	gap:5px;
	flex-direction:column;
	text-align:center;
	border-radius:15px;
}
img{
	height:auto;
	width:150px;
}